@charset "UTF-8";

body {
	height: 100%;
}

th {
	background-color: azure;
}

table {
	width: 100%;
}

.bmTable {
	display: flex;
	flex-wrap: wrap;
}

.table td {
	padding: 3px;
}

.profileImg {
	border: 3px solid black;
	border-radius: 25px;
}

.bmContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bmContent {
	margin: 10px auto;
	border: 1px solid black;
	width: 25em;
	height: 25em;
}

.bmImg {
	margin: auto;
	width: 80%;
	height: 60%;
}

.bmAd {
	margin: auto;
}

.imgBox {
	display: flex;
	justify-content: center;
	align-items: center;
}